*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    display: flex;
    padding: 10px;
}
.header, .html, .registration{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    margin: 50px;
}
.header{
    text-align: center;
}
.html{
    margin-left: 20px;
}
h2{
    text-align: center;
}
.html ul{
    margin-left: 20px;
}



